NODE_ENV=development

SERVICE_NAME=fg-gas-backend
SERVICE_VERSION=0.0.0

PORT=3000

LOG_ENABLED=true
LOG_LEVEL=info
LOG_FORMAT=pino-pretty

TRACING_HEADER=x-cdp-request-id

MONGO_URI=mongodb://127.0.0.1:27017/
MONGO_DATABASE=fg-gas-backend

AWS_REGION=eu-west-2
AWS_DEFAULT_REGION=eu-west-2
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test