name: Check Pull Request

on:
  pull_request:
    branches:
      - main
      - dev
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  pr-validator:
    name: Run Pull Request Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node version
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Run unit tests
        run: npm run test:unit -- --coverage

      - name: SonarCloud Scan
        if: github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Run integration tests
        run: npm run test:integration:verbose

      - name: Build docker image
        run: |
          set +e
          docker build --no-cache --tag fg-gas-backend .
          exit $?

  contract-tests:
    name: Run Contract Tests
    runs-on: self-hosted
    if: github.event.pull_request.head.repo.full_name == github.repository || github.event_name != 'pull_request'
    steps:
      - name: Mask secrets
        run: |
          echo "::add-mask::$PACT_USER"
          echo "::add-mask::$PACT_PASS"

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Fetch latest tags
        run: git fetch --tags --force

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: npm

      - name: Run contract tests
        env:
          PACT_BROKER_BASE_URL: https://ffc-pact-broker.azure.defra.cloud
          PACT_PUBLISH_VERIFICATION: false
        run: |
          export PACT_USER="$PACT_USER"
          export PACT_PASS="$PACT_PASS"
          npm ci --ignore-scripts
          npm run test:contract
