name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: "094954420758"

jobs:
  build:
    if: github.run_number != 1
    name: CDP-build-workflow
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Use Node version
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Coverage
        run: |
          npm ci
          npm run test:unit -- --coverage

      - name: SonarCloud Scan
        if: github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build and Publish
        uses: DEFRA/cdp-build-action/build@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  contract-tests:
    name: Run Contract Tests
    runs-on: self-hosted
    if: github.event.pull_request.head.repo.full_name == github.repository || github.event_name != 'pull_request'
    needs: build
    steps:
      - name: Mask secrets
        run: |
          echo "::add-mask::$PACT_USER"
          echo "::add-mask::$PACT_PASS"

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Fetch latest tags
        run: git fetch --tags --force

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: npm

      - name: Run contract tests
        env:
          PACT_BROKER_BASE_URL: https://ffc-pact-broker.azure.defra.cloud
          PACT_PUBLISH_VERIFICATION: true
          PACT_USE_LOCAL: "false"
        run: |
          echo "PACT_USE_LOCAL=${PACT_USE_LOCAL}"
          echo "PACT_BROKER_BASE_URL=${PACT_BROKER_BASE_URL}"
          if [ -z "${PACT_USER}" ]; then echo "PACT_USER is not set"; else echo "PACT_USER is set"; fi
          if [ -z "${PACT_PASS}" ]; then echo "PACT_PASS is not set"; else echo "PACT_PASS is set"; fi
          npm ci --ignore-scripts
          npm run test:contract

      - name: Setup Pact CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/pact-foundation/pact-standalone/master/install.sh | PACT_CLI_VERSION=v2.5.9 bash
          echo "PATH=${PATH}:${PWD}/pact/bin/" >> $GITHUB_ENV

      - name: Publish consumer pacts
        env:
          PACT_BROKER_BASE_URL: https://ffc-pact-broker.azure.defra.cloud
        run: |
          pact broker publish --merge \
            --broker-base-url "${PACT_BROKER_BASE_URL}" \
            --broker-username "${PACT_USER}" \
            --broker-password "${PACT_PASS}" \
            --consumer-app-version "$(git describe --tags --abbrev=0 --always)" \
            tmp/pacts/*.json
